.cont{
    height: 500px;
    width: 1500px;
    margin-top: 50px;
    scroll-behavior: smooth;
    overflow-y: auto;
}
.cont::-webkit-scrollbar{
    display: none;
}
.cards1{
    margin-top: 50px;
    margin-left: 100px;
    display: inline-flex;
}
.card{
    border: none;
}
.card-btn{
    margin-top: 20px;
    width: 90%;
    height: 50px;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: linear-gradient(180deg, #9acacd 10%, hsl(204, 41%, 21%) );;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.05;
}
.card-btn:hover{
    opacity: 1;
}

.quantity-input{
    width: 40px;
    margin-left: 100px;
    
}
@media (min-width: 392px) and (max-width: 1170px){
    .cont{
        width: 800px;
    }
    .card-btn{
        opacity: 1;
    }
}