<div class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">ליצור קשר</h5>
                <p>plastic-shop@gmail.com</p>
                <p>+972 0461111111</p>
                <p>או</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">מוצרים</h5>
                <p>ריהוט</p>
                <p>מוצרים חד פעמים</p>
            </div>
            
        </div>
        <hr class="mb-4">
        <div class="row align-items-center">
            
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                <img [src]="facebook" class="icons">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                <img [src]="instagram" class="icons">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                <img [src]="twitter" class="icons">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-lg-5">
                <p>יחיא בדארנה וסאלח פארס</p>
            </div>
        </div>
    </div>
</div>