
.main-se{
    margin-top: 40px;
}
.main-se::-webkit-scrollbar{
    display: none;
}
main, aside{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}
main{
    width: 75%;
    margin-right: 15px;
}
.shopping1{
    scroll-behavior: smooth;
    overflow-y: auto;
    height: 500px;
}
.shopping1::-webkit-scrollbar{
    display: none;
}
.shopping2{
    scroll-behavior: smooth;
    overflow-y: auto;
    height: 500px;
}
.shopping2::-webkit-scrollbar{
    display: none;
}

aside{
    position: relative;
    width: 21%;
    height: 510px;
    text-align: right;
    background: linear-gradient(180deg, #9acacd 10%, hsl(204, 41%, 21%) );
    margin-right: 0;
    border-radius: 70px;
    box-shadow: -10px 20px 5px rgba(0,0,0, 0.3);
}
aside,h1{
    font-size: 1.5em;
    margin-top: 0%;
}
#ca_d{
  padding: 20px;
}
.ca{
    text-decoration: none;
    color: black;
}
.ca:hover{
    color:rgb(218, 102, 102);
}

.map{
    margin-top: 100px; 
    text-align: center; 
    height: 400px; 
    width: 100%;
    background-color: beige;
}
.map img{
    height: 300px; 
    width: 400px;
}
@media screen and (max-width: 1920px){
    .map{
        margin-left: 0px;
        background: linear-gradient(0deg, #9acacd 10%, hsl(204, 41%, 21%) );
    }
    .map a{
        margin-left: 900px;
    }
    .shopping1{
        margin-left: -50px;
        width: 1200px;
    }
    .shopping2{
        margin-left: -50px;
        width: 1200px;
    }
}
@media screen and (min-width: 1920px){
    .map{
        margin-left: 0px;
        background: linear-gradient(0deg, #9acacd 10%, hsl(204, 41%, 21%) );
    }
    .map a{
        margin-left: 1000px;
    }
    .shopping1{
        width: 1300px;
        margin-left: 10px;
    }
    .shopping2{
        width: 1300px;
        margin-left: 10px;
    }
}
@media (min-width: 392px) and (max-width: 1170px){
    .map{
        margin-left: 0px;
    }
    .map a{
        margin-left: 500px;
    }
    .shopping1{
        margin-left: 0;
    }
    main{
        margin-left: 0;
        
    }
}