<div class="slider">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">

        <div class="slide first">
            <img [src]="aa" alt="">
        </div>
        <div class="slide">
            <img [src]="cc" alt="">
        </div>
        <div class="slide">
            <img [src]="dd" alt="">
        </div>
        <div class="slide">
            <img [src]="bb" alt="">
        </div>

        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>
</div> 



        
          
      
        
